@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal
}


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand';
  src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
        url('../fonts/quicksand-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

%headline-main-font,
%headline-secondary-font {
  font-family: 'quicksand', Verdana, sans-serif;
  font-weight: bold;
}

%label-font {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: bold;
}

%body-font {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: normal;
}